@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

/*font-family: 'Rufina', serif;*/
/*font-family: 'Yaldevi', sans-serif;*/
/*font-family: 'Playfair Display', serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*NAVBAR STYLING*/
header{
    font-family: 'Rufina', serif;
}
/*HOMEPAGE STYLING*/
.homepage{
    height:400px;
    text-align:center;
    line-height:50px;
    background-image:url(./assets/background-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.home-title{
    font-family: 'Playfair Display', serif;
    font-size:60px;
    color:black;
    margin-top:10%;
}
.home-sub{
    font-family: 'Yaldevi', sans-serif;
    font-size:29px;
    margin-top:20px;
}
button{
    padding:5px;
    border-radius:10px;
    border:none;
    background-color: #ECD6B5;
}
.home-button{
    margin-top:4%;
}

/*Project Section Styling*/
.projects{
    background-color: #E5B383;
}
.projects-title{
    font-size:30px;
    text-align:center;
    font-family: 'Playfair Display', serif;
    color:black;
}
.projects-sub{
    text-align:center;
    font-size:20px;
    font-family: 'Yaldevi', sans-serif;
}
.visuallyhidden {
    z-index: -1;
    right: 0;
    opacity: 0;
}
.container {
    overflow: hidden;
    padding: 20px;
    margin-top: 2em;
    text-align:center;
}

h4{
    font-family: 'Rufina', serif;
    font-weight: bolder;
}
p{
    font-family: 'Yaldevi', sans-serif; 
}

.card-carousel {
    --card-width: 80%;
    --card-max-width: 280px;
    --card-height: 350px;
    --carousel-min-width: 600px;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    margin-top:20px;
    width: 100%;
    height: var(--card-height);
    min-width: var(--carousel-min-width);
    transition: filter .3s ease;
}
@media screen and (max-width: 640px) {
    .card-carousel {
      margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
    }
}
.card-carousel.smooth-return {
    transition: all .2s ease;
}
.card-carousel .card {
    background: #f3e3d3;
    width: var(--card-width);
    max-width: var(--card-max-width);
    text-align: center;
    padding: 1em;
    min-width: 250px;
    height: var(--card-height);
    position: absolute;
    margin: 0 auto;
    transition: inherit;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    border-radius: 1em;
    filter: brightness(.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card.highlight {
    filter: brightness(1)
}
.card_img{
    width:200;
    height:150px;
    
}
.visu{
    margin-top:5%;
}
a{
    text-decoration:none;
    color:black;
}
.far{
    transform: scale(1);
    transition: .3s ease-in-out;
    margin: 0px 10px;
}
.far:hover{
    transform: scale(1.5);
}

/*Contact Section Styling*/
.contact{
    margin-top:50px;
    text-align:center;
}
.contact-title{
    font-size:30px;
    text-align:center;
    font-family: 'Playfair Display', serif;
    color:black;
}
.contact-sub{
    text-align:center;
    font-size:20px;
    font-family: 'Yaldevi', sans-serif;
}
.contact-socials{
    margin-top:5%;
}
.socials-logo{
    width:50%;
}
.socials-title{
    font-family: 'Playfair Display', serif;
    color:black; 
}

/*About Section Styling*/
.about-title{
    font-family: 'Playfair Display', serif;
    color:black;
    font-size:35px;
}
.about-sub{
    font-family: 'Yaldevi', sans-serif;
    font-size:23px;
    
}
.content-about{
    text-align:center;
    margin-top:15%;
    margin-right:7%;
}

/*Footer Section Styling*/
footer{
    margin-top:2.5%;
    background-color:  #E5B383    ;
}
.logo-footer{
    width:40%;
}
.section-footer li{
    margin-top:4%;
    font-family: 'Playfair Display', serif;
}
.socials-footer li{
    margin-top:2.5%;
    font-family: 'Playfair Display', serif;
}
.footer-sub{
    text-align:center;
    font-size:10px;
    font-family: 'Yaldevi', sans-serif;
}
